body {
  background: #0f172a;
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

#btnPlus {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #3b82f6;
  color: white;
  border: none;
  font-size: 22px;
}